{%extends "layout.html"%}
{%block content%}
<body>

  <!-- <div class="others">
    <ul class="list-group",id="other_locations_list">
    <li class ="h3"><a href="https://www.facebook.com/pages/Tofu-Chili/1386537708243276" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Tofu & Chili</a></li>
    <li class ="h3"><a href="https://shu-restaurant.eatbu.com/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Shu</a></li>
    <li class ="h3"><a href="https://www.swingkitchen.com/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Swingkitchen</a></li>
    <li class ="h3"><a href="http://www.gorillakitchen.at/?lang=en" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Gorilla Kitchen</a></li>
    <li class ="h3"><a href="https://www.elburro.at/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">El burro</a></li>
  </ul>
  </div> -->


<div class="others">

  <a href="https://www.facebook.com/pages/Tofu-Chili/1386537708243276" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Tofu & Chili</a>
  <a href="https://shu-restaurant.eatbu.com/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Shu</a>
  <a href="https://www.swingkitchen.com/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Swingkitchen</a>
  <a href="http://www.gorillakitchen.at/?lang=en" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Gorilla Kitchen</a>
  <a href="https://www.elburro.at/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">El burro</a>

  </div>

</body>
{%endblock%}
